body {
    background-image: url(../img/cork.png);
}

header {
    background-image: url(../img/wall.png);
}

.title h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 100px;
}

.photo .content {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.473);
    cursor: pointer;
}

.photo .description {
    font-family: "Edu Tas Beginner", sans-serif;
}

.photo .date {
    font-family: "Sometype Mono", monospace;
}

.red-pin {
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 1;
}